<h1>食材から同等の栄養価を持つ食材を検索</h1>
<%= render 'layouts/search_form' %>
<table>
  <% if @foods.nil? %>
    <tr><td>検索結果: なし</td></tr>
  <% else %>
  <%# TODO: カートに追加済みの食材は追加済みと表示する %>
    <% @foods.each do |food| %>
      <tr>
        <td>
          <% if food.picture.present? %>
            <%= image_tag(image_path(food.picture), height: '100px') %>
          <% end %>
        </td>
        <td><%= link_to food.name, food %></td>
        <td>タンパク質: <%= food.protein %></td>
        <td>糖質: <%= food.carbohydrate %></td>
        <td>脂質: <%= food.lipid %></td>
        <td>ビタミン: <%= food.vitamin %></td>
        <td><%= button_to 'カートに追加', cart_index_path(id: food.id) %></td>
      </tr>
    <% end %>
  <% end %>
</table>