<%# 適切な命名に治す %>
<h1>食べ物かご</h1>
<table>
  <% if @foods.nil? %>
    <tr><td>空っぽです。</td></tr>
  <% else %>
    <% @foods.each do |food| %>
      <tr>
        <td>
          <% if food.picture.present? %>
            <%= image_tag(image_path(food.picture), height: '100px') %>
          <% end %>
        </td>
        <td><%= link_to food.name, food %></td>
        <td>タンパク質: <%= food.protein %></td>
        <td>糖質: <%= food.carbohydrate %></td>
        <td>脂質: <%= food.lipid %></td>
        <td>ビタミン: <%= food.vitamin %></td>
        <%# カートから削除ボタンを作成 %>
        <td><%= button_to "カートから削除", {:controller => :cart, :action => 'destroy', :food_id => food.id}, :method => :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= button_to "カートを空にする", {:controller => :cart, :action => 'destroy'}, :method => :delete %>
<%= button_to '選択した食材を使用したレシピをクックパッドで検索', cart_search_path(), form: {target: '_blank'} %>