<table>
<% @foods.each do |food| %>
  <tr>
    <td>
      <% if food.picture.present? %>
        <%= image_tag(image_path(food.picture), height: '100px') %>
      <% end %>
    </td>
    <td><%= link_to food.name, food %></td>
    <td>protein: <%= food.protein %></td>
    <td>fat: <%= food.fat %></td>
    <td>carbohydrate: <%= food.carbohydrate %></td>
  </tr>
<% end %>
</table>